.alignLeft{
  border: 1px solid black;
  padding: 2px;
  margin: 5px;
}

.btn{
  float: center;
  padding:10px;
  background-color: rgb(14, 162, 162);
  color: white;
  cursor: pointer;
  border: none;
  outline: none;
  margin: 20px;
  transition: background-color 0.3s ease;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(10, 216, 213, 0.2);
  &:hover{
    background-color: rgb(4, 112, 112);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}